<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
  <mat-form-field>
    <mat-select formControlName="customer" placeholder="Choose a customer">
      <mat-option *ngFor="let customer of customers$ | async" [value]="customer.id">
        {{ customer.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="startDate" [matDatepicker]="pickerStartDate" placeholder="Choose a start date">
    <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
    <mat-datepicker #pickerStartDate></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="endDate" [matDatepicker]="pickerEndDate" placeholder="Choose an end date">
    <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
    <mat-datepicker #pickerEndDate></mat-datepicker>
  </mat-form-field>
  <div class="form-element">
    <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">
      Submit Form
    </button>
  </div>
</form>

<app-process-order></app-process-order>